<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Actualizar Producto</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href=./css/main.css>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet" />
  </head>

  <body>
    <header id="header"></header>

    <main>
      <div
        class="container d-flex align-items-center justify-content-center mt-5 mb-5"
        id="app">
        <form class="bg-gris p-5 border border-amarillo rounded">
          <div class="row mb-3 d-flex justify-content-center">
            <h1 class="text-center">Editar producto</h1>
            <p class="w-50 text-center">Precio: {{precio}}</p>
          </div>

          <div class="mb-3">
            <label class="form-label" for="id">Id</label>
            <input
              class="form-control"
              type="number"
              name="id"
              id="id"
              disabled
              v-model="id" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="nombre">Nombre</label>
            <input
              class="form-control"
              type="text"
              name="nombre"
              id="nombre"
              v-model="nombre" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="precio">Precio</label>
            <input
              class="form-control"
              type="number"
              name="precio"
              id="precio"
              v-model="precio" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="stock">Stock</label>
            <input
              class="form-control"
              type="number"
              name="stock"
              id="stock"
              v-model="stock" />
          </div>
          <div class="mb-3 form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="true"
              name="celiaco"
              id="celiaco"
              v-model="celiaco" />
            <label class="form-check-label" for="celiaco">¿Apto celiaco?</label>
          </div>
          <div class="d-grid gap2">
            <button
              type="button"
              class="btn btn-primary text-white"
              v-on:click="modificar()">
              Modificar
            </button>
          </div>
        </form>
      </div>
    </main>

    <footer id="footer" class="bg-primary-opacity-8 border-top"></footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/producto-edit.js"></script>
    <script src="./js/header-es.js"></script>
    <script src="./js/footer-es.js"></script>
  </body>
</html>
